

* {
    box-sizing: border-box;
    margin: 0 aut0;
}




/* General section-----------
----------------------------------- */

html {
    scroll-behavior: smooth;
}

body {

font-family: 'Fauna One', serif;
font-family: 'Playfair Display', serif;

}


p {
    font-family:'Fauna One', serif;
}

.btn {
    text-transform: uppercase;

}

span {
    font-size: 0.9rem;
    padding-left: 0.3rem;
    color: rgb(62, 62, 62);
}

a {
    color: #fff;
}

/* Navigation section-----------
----------------------------------- */


.logo {
    width: 30rem;
    margin: 0;
    padding: 0;
}

.display-4 {
    font-weight: 900;
}

.nav-item {
    font-size: 1.3rem;
    font-family: 'Fauna One', serif;
    margin-right: 0.7rem;
}





/* About-me section-----------
----------------------------------- */

.col {
   border: 2px solid black;
}

.img-fluid {
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.3rem 0.2rem #004AAD;
}

.about-me-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    
}

.about-me-title::after {
    content: "";
    display: block;
    width: 11rem;
    height: 2px;
    background-color:#004AAD;
    margin-top: 0.5rem;
    
}




.about-me-text {
  line-height: 1.7;
}

.btn-outline-primary {
    transform: scale(1);
    transition: trasform 250ms;
}

.btn-outline-primary:hover {
    transform: scale(1.1);
}





/* Portfolio section-----------
----------------------------------- */



.section-port-title::after {
    content: "";
    display: block;
    max-width: 10rem;
    height: 2px;
    background-color:#004AAD;
    margin: 0.5rem auto;
   

}



.skills-box {
    margin: 0;
}


.btn-secondary {
    background-color: #02a16c !important;
    border: #02a16c !important;
    transform: scale(1);
    transition: trasform 250ms;

}

.btn-secondary:hover {
    background-color: #07bb5e !important;
    border: #07bb5e  !important;
    transform: scale(1.1);
}


.card {
    box-shadow: 0rem 0rem 0.3rem #38B6FF; 
}



/* SKills section-----------
----------------------------------- */



.section-skills-title::after {
    content: "";
    display: block;
    max-width: 8rem;
    height: 2px;
    background-color: #004AAD;
    margin: 0.5rem auto;
   

}

.progress-number {
    float: right;
}



/* Contact-me section-----------
----------------------------------- */



.section-contact-title::after {
    content: "";
    display: block;
    width: 13rem;
    height: 2px;
    background-color:#004AAD;
    margin: 0.5rem auto;
   

}







/* Footer section-----------
----------------------------------- */


.fa-brands {
    font-size: 1.8rem;
    color:#fff;
}



.bg-social {
    background-color: #0275D8;
}



.text-center-foot {
    background-color: #004AAD;
    color: #fff;
}

.text-reset {
    text-decoration: none;
}

/* Responsive Navigation-----------
----------------------------------- */


@media screen and (min-width:992px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width:777px) {
    .logo{
      width: 23rem;
    }
    
}


@media screen and (max-width:416px) {
    .logo{
      width: 18rem;
    }
    
}

@media screen and (max-width:360px) {
    .logo{
      width: 15rem;
    }
    
}

@media screen and (max-width:280px) {
    .logo{
      width: 12rem;
    }
    
}













    
